<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>
.row.pager{
	padding: 0px;
	padding-top: 10px;
	color: gray;
}
.row.pager .col{
	border-top: solid DarkGray 1px;
	text-align: left;
	padding:0px;
}

.row.pager .col div.prog{
	background-color:white;	
	position: relative;
	left: -.6em;
	top: -.8em;
	width: 1em;
	text-align: center;
	height:10em;
}

.row.pager .col.done{
	border-top: solid #f58220 1px;	
	color: black;	
}
.row.pager .col.done .icon{
	color: #f58220;	
}

.row.pager .col.doing{
	color: #f58220;
}

.row.pager  .col.first, .row.pager .col.last{
	border-top: solid white 1px;	
}

.prog.active{
	font-weight: bold;
}

</style>
<ion-view title="{{order.name}}">
  <ion-content has-header="true" padding="false"  scroll="true" class="has-subheader">
  
  <ion-slide-box does-continue=true auto-play=true slide-interval=2000>
    <ion-slide>
  <div class="list">
	  <div class="item" style="text-align: center;">
	    <img  class="main" src="img/products/TB2wyNnapXXXXXrXpXXXXXXXXXX_!!2086104958.jpg_60x60q90.jpg"></img>
	  </div>
  <div class="item">
    <h2>AAAAAAAAAA McFly</h2>
   <ng-include src="'templates/order-action-info.html'"></ng-include>
  </div>

  <div class="item">    
  <div class="row pager">
  		<div class="col first"></div>	  
  		<div class="col done"><div class="prog" ng-click="slide($event.target,0)"><i class="icon ion-ios7-checkmark-outline" ></i>发布中</div></div>
  		<div class="col done"></div>	  
  		<div class="col done"><div class="prog" ng-click="slide($event.target,1)"><i class="icon ion-ios7-checkmark-outline" ></i>代购中</div></div>
  		<div class="col done"></div>	  
  		<div class="col doing"><div class="prog" ng-click="slide($event.target,2)"><i class="icon ion-ios7-ionic-outline" ></i>支付转运</div></div>
  		<div class="col"></div>	  
  		<div class="col"><div class="prog" ng-click="slide($event.target,3)"><i class="icon ion-ios7-circle-outline" ></i>收货中</div></div>
  		<div class="col"></div>	  
  		<div class="col last"><div class="prog" ng-click="slide($event.target,4)"><i class="icon ion-ios7-circle-outline" ></i>完成</div></div>
</div>
<ion-slide-box delegate-handle="orderStatus" show-pager="false" on-slide-changed="slideHasChanged($index)">
  <ion-slide>
   <ng-include src="'templates/order-action-order.html'"></ng-include>
  </ion-slide>
  <ion-slide>
   <ng-include src="'templates/order-action-purchase.html'"></ng-include>
  </ion-slide>
  <ion-slide>
   <ng-include src="'templates/order-action-delivering.html'"></ng-include>
  </ion-slide>
  <ion-slide>
   <ng-include src="'templates/order-action-receiving.html'"></ng-include>
  </ion-slide>
  <ion-slide>
   <ng-include src="'templates/order-action-completed.html'"></ng-include>
  </ion-slide>
</ion-slide-box>

  </div>

  <div class="item">
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      我也想买
    </a>
  </div>
</div>
  
  </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
