<!--
  This template loads for the 'tab.inventory-detail' state (app.js)
  'inventory' is a $scope variable created in the InventorysCtrl controller (controllers.js)
  The InventorysCtrl pulls data from the Inventorys service (service.js)
  The Inventorys service returns an array of inventory data
-->
<ion-view title="{{inventory.name}}">      
	<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-bag"  x-ng-click="doCart()">
      </button>
    </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
  	<div>
	  	<div>
	  		<img src="img/u10.png" class="float-left"/>
		  	<div>
		  	<table>
		  	<tbody>
		  		<tr>
		  			<th>购买地</th>
		  			<td>{{inventory.orderFrom}}</td>
		  		</tr>
		  		<tr>
		  			<th>类型</th>
		  			<td>{{inventory.type}}</td>
		  		</tr>
		  		<tr>
		  			<th>总金额</th>
		  			<td>{{inventory.amount}}</td>
		  		</tr>
		  		<tr>
		  			<th>竟单期限</th>
		  			<td>{{inventory.deadline}}</td>
		  		</tr>
		  		</tbody>
		  		<tfoot><tr><th rowspan="2">已有{{inventory.cntBuyer}}10位买手参与此次购买</th></tr></tfoot>
		  	</table>
		  	
			</div>
  		</div>
		<div>
			  	<pre>  
所购商品超出指定价格：按实际价格购买
邮寄方式： 买家转运
所购商品缺货：购买其他物品
			</pre>
		</div>
  	</div>
  	
  </ion-content>
</ion-view>
