  <div class="item" style="text-align: center;">
	  
  <ion-slide-box does-continue=true auto-play=false slide-interval=2000>
    <ion-slide>
	    <img  class="main" src="img/products/TB2wyNnapXXXXXrXpXXXXXXXXXX_!!2086104958.jpg_60x60q90.jpg"></img>
	</ion-slide>    
	<ion-slide>
	    <img  class="main" src="img/products/TB2wyNnapXXXXXrXpXXXXXXXXXX_!!2086104958.jpg_60x60q90.jpg"></img>
	</ion-slide>
  </ion-slide-box>
	  </div>
  <div class="item">
    <h2>{{item.name}}</h2>
   <ng-include src="'templates/order-action-info.html'"></ng-include>
  </div>

<div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
   
</div>