  <div class="item" style="text-align: center;">
	  
  <ion-slide-box  delegate-handle="icon" does-continue=true auto-play=false slide-interval=2000>
    <ion-slide>
	    <img  class="main" src="img/products/TB2wyNnapXXXXXrXpXXXXXXXXXX_!!2086104958.jpg_60x60q90.jpg"></img>
	</ion-slide>    
	<ion-slide>
	    <img  class="main" src="img/products/TB2wyNnapXXXXXrXpXXXXXXXXXX_!!2086104958.jpg_60x60q90.jpg"></img>
	</ion-slide>
  </ion-slide-box>
	  </div>
  <div class="item">
    <h2>{{item.name}}</h2>
   <ng-include src="'templates/order-action-info.html'"></ng-include>
  </div>