 <ion-modal-view ng-controller="CartCtrl">
 
 <ion-header-bar class="bar-positive">
  <div class="buttons">
 </div>
<h1 class="title">购物车</h1>
  <div class="buttons">           	        
  		<button class="button button-icon icon ion-ios7-close-empty pull-right" 
          ng-click="modal.hide();"></button>
  </div>
</ion-header-bar>


    <ion-content>
    <div ng-show="cart.size()==0">
    <p >你还没有选中任何东西哦！</p></div>
    <pane ng-show="cart.size()!=0">
    
<ion-list   ng-repeat="country in cart.Countrys"  class="padding-horizontal"
          show-delete="false"
          show-reorder="false"
          can-swipe="true" -ng-if="country.Items.length>0">
          <div class="item item-divider item-checkbox-left">
			<input type="checkbox"  x-ng-model="data.checkall"/>
{{country.name}}
  </div>
  <ion-item ng-repeat="item in country.Items"  class="item-checkbox-thumbnail-left">
 	      <img src="img/u10.png">
 	      <h2>{{item.name}} </h2>
	      <p>
	       {{item.country}}
			价格：{{item.expectedPrice}}/元   
			数量：{{item.amount}}   
			到货周期：{{item.lastMonth}}个月</p>
			<input type="checkbox" />
    	<ion-option-button class="button-info button-assertive"    ng-click="country.Items.splice($index, 1)">删除</ion-option-button>
    	<ion-delete-button class="ion-minus-circled"                   ng-click="country.Items.splice($index, 1)">    </ion-delete-button>
  </ion-item>
            <div class="item item-divider item-checkbox-left">
合计
  </div>
</ion-list>

</pane>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
	  <div class="buttons">
	    <button class="button">全选</button>
	  </div>
	  <h1 class="title">合计</h1>
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button">结算</button>
	  </div>
</ion-footer-bar>
</ion-modal-view>
