<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>
.row.pager{
	padding: 0px;
	padding-top: 10px;
	color: gray;
}
.row.pager .col{
	border-top: solid DarkGray 1px;
	text-align: left;
	padding:0px;
}

.row.pager .col div.prog{
	background-color:white;	
	position: relative;
	left: -.6em;
	top: -.8em;
	width: 1em;
	text-align: center;
	height:10em;
}

.row.pager .col.done{
	border-top: solid #f58220 1px;	
	color: black;	
}
.row.pager .col.done .icon{
	color: #f58220;	
}

.row.pager .col.doing{
	color: #f58220;
}

.row.pager  .col.first, .row.pager .col.last{
	border-top: solid white 1px;	
}

.prog.active{
	font-weight: bold;
}

</style>
<ion-view title="{{order.name}}">
  <ion-content has-header="true" padding="true" class="has-subheader">
<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue=true auto-play=false show-pager=false>
  <ion-slide>
  
  <div class="list card">
  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>AAAAAAAAAA McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    
  <div class="row pager">
  		<div class="col first"></div>	  
  		<div class="col done"><div class="prog" ng-click="slide($event.target,0)"><i class="icon ion-ios7-checkmark-outline" ></i>发布中</div></div>
  		<div class="col done"></div>	  
  		<div class="col done"><div class="prog" ng-click="slide($event.target,1)"><i class="icon ion-ios7-checkmark-outline" ></i>代购中</div></div>
  		<div class="col done"></div>	  
  		<div class="col doing"><div class="prog" ng-click="slide($event.target,2)"><i class="icon ion-ios7-ionic-outline" ></i>支付转运</div></div>
  		<div class="col"></div>	  
  		<div class="col"><div class="prog" ng-click="slide($event.target,3)"><i class="icon ion-ios7-circle-outline" ></i>收货中</div></div>
  		<div class="col"></div>	  
  		<div class="col last"><div class="prog" ng-click="slide($event.target,4)"><i class="icon ion-ios7-circle-outline" ></i>完成</div></div>
</div>
<ion-slide-box delegate-handle="orderStatus" show-pager="false" on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><h1>发布中</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>代购中</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>支付转运</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>收货中</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>完成</h1></div>
  </ion-slide>
</ion-slide-box>

  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      我也想买
    </a>
  </div>
  </div>
  
 </ion-slide>
  <ion-slide>
  
  <div class="list card">
	  <div class="item item-avatar">
	    <img src="mcfly.jpg">
	    <h2>BBBBBBBBBBBBB McFly</h2>
	    <p>November 05, 1955</p>
	  </div>
	
	  <div class="item item-body">
	    <p>
	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	      the content is from a card-body consisting of an image and paragraph text. The footer
	      consists of tabs, icons aligned left, within the card-footer.
	    </p>
	  </div>
	
	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      我也想买
	    </a>
	  </div>
	  <div></div>
  </div>
  
 </ion-slide>
 </ion-slide-box>
 

</div>
  
  
  </ion-content>
</ion-view>
