<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>
.row.pager{
	padding: 0px;
	padding-top: 10px;
	color: gray;
}
.row.pager .col{
	border-top: solid DarkGray 1px;
	text-align: left;
	padding:0px;
}

.row.pager .col div.prog{
	background-color:white;	
	position: relative;
	left: -.6em;
	top: -.8em;
	width: 1em;
	text-align: center;
	height:10em;
}

.row.pager .col.done{
	border-top: solid #f58220 1px;	
	color: black;	
}
.row.pager .col.done .icon{
	color: #f58220;	
}

.row.pager .col.doing{
	color: #f58220;
}

.row.pager  .col.first, .row.pager .col.last{
	border-top: solid white 1px;	
}

.prog.active{
	font-weight: bold;
}

</style>
<ion-view title="({{slideActiveSlide()}} / {{slideSize()}}) - {{activeItem.name}}">
  <ion-content has-header="true" padding="false" class="has-subheader">

  <ion-slide-box delegate-handle="order" on-slide-changed="slideHasChanged($index)"  show-pager=false active-slide="curSlide">
  <ion-slide ng-repeat="item in order.Items">
  
  <div class="list">
	
	   <ng-include src="'templates/order-basic.html'"></ng-include>
   
<div class="item item-graph">
	  <div class="row pager">
	  		<div class="col first"></div>
	  		<div class="col" x-ng-class="{'done':item.statusId>1,'doing':item.statusId==1}"><div class="prog" x-ng-click="statusSlide($event.target,0)"><i class="icon ion-ios7-checkmark-outline" ></i>发布中</div></div>
	  		<div class="col" x-ng-class="{'done':item.statusId>1,'doing':item.statusId==1}"></div>	  
	  		<div class="col" x-ng-class="{'done':item.statusId>2,'doing':item.statusId==2}"><div class="prog" x-ng-click="statusSlide($event.target,1)"><i class="icon ion-ios7-checkmark-outline" ></i>代购中</div></div>
	  		<div class="col" x-ng-class="{'done':item.statusId>2,'doing':item.statusId==2}"></div>
	  		<div class="col" x-ng-class="{'done':item.statusId>4,'doing':item.statusId==4}"><div class="prog" x-ng-click="statusSlide($event.target,2)"><i class="icon ion-ios7-circle-outline" ></i>收货中</div></div>
	  		<div class="col" x-ng-class="{'done':item.statusId>4,'doing':item.statusId==4}"></div>	  
	  		<div class="col last"  x-ng-class="{'done':item.statusId>5,'doing':item.statusId==5}"><div class="prog" x-ng-click="statusSlide($event.target,3)"><i class="icon ion-ios7-circle-outline" ></i>完成</div></div>
	</div>

	<ion-slide-box delegate-handle="orderStatus" show-pager="false" active-slide="statusActiveSlide">
	  <ion-slide>
	   <ng-include src="'templates/order-bid-c-edit.html'" ng-if="item.statusId==1"></ng-include>
	   <ng-include src="'templates/order-bid-c-info.html'" ng-if="item.statusId!=1"></ng-include>
	  </ion-slide>
	  <ion-slide>
	   <ng-include src="'templates/order-purchase-c-edit.html'" ng-if="item.statusId==2"></ng-include>
	   <ng-include src="'templates/order-purchase-c-info.html'" ng-if="item.statusId!=2"></ng-include>
	  </ion-slide>
	  <ion-slide>
	   <ng-include src="'templates/order-delivering-c-edit.html'" ng-if="item.statusId==4"></ng-include>
	   <ng-include src="'templates/order-delivering-c-info.html'" ng-if="item.statusId!=4"></ng-include>
	  </ion-slide>
	  <ion-slide>
	   <ng-include src="'templates/order-completed-c-info.html'"></ng-include>
	  </ion-slide>
	</ion-slide-box>
</div>
</div>
</ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>
