<ion-view title="我的购物车">
  <ion-content class="has-subheader ">
  	<ion-nav-buttons side="left">      
      <button class="button button-icon icon ion-ios7-minus-outline" 
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
   </ion-nav-buttons>
  
<ion-list 
          show-delete="data.showDelete"
          show-reorder="false"
          can-swipe="true">
  <ion-item ng-repeat="item in cart.Items"  class="item-thumbnail-left" href="#/tab/order/{{order.id}}">
 	      <img src="img/u10.png">
	      <pre>{{item.name}} 
	       {{item.country}}
			价格：{{item.expectedPrice}}/元   
			数量：{{item.amount}}   
			到货周期：{{item.lastMonth}}个月</pre>
	    <span class="item-note">
	      {{item.status}}
	    </span>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="cart.Items.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
