<div class="list view">
	  <label class="item">代购佣金<span class="item-value">8%</span></label>
	  <label class="item">代购期限<span class="item-value">2014-10-15</span></label>
	  <label class="item">建议总价<span class="item-value">110元（人民币）</span></label>
	  <label class="item">运费<span class="item-value">100元（人民币）</span></label>
	  <label class="item">备注<span class="item-value">balabalabalabalabalabalabalabala														
balabalabalabalabalabalabalabala</span></label>
</div>
<div class="list ">
	  <label class="item">您已经开始购买</label>
	  <label class="item">开始时间<span class="item-value">2014-09-30 15:30:30</span></label>
</div>
<div class="list ">
	  <label class="item">上传小票				本地			拍照	</label>
	  <label class="item">开始时间<span class="item-value">2014-09-30 15:30:30</span></label>
</div>
	
<div class="list ">
	  <label class="item">上传商品照片					本地			拍照		</label>
	  <label class="item">开始时间<span class="item-value">2014-09-30 15:30:30</span></label>
</div>

    <button class="button button-positive">完成购买</button>