<div class="list view">
	  <label class="item">代购佣金<span class="item-value">8%</span></label>
	  <label class="item">代购期限<span class="item-value">2014-10-15</span></label>
	  <label class="item">建议总价<span class="item-value">110元（人民币）</span></label>
	  <label class="item">运费<span class="item-value">100元（人民币）</span></label>
	  <label class="item">备注<span class="item-value">balabalabalabalabalabalabalabala														
balabalabalabalabalabalabalabala</span></label>
</div>
<div class="list">
	  <label class="item">竞标失败……</label>
</div>