<div class="list view">
	  <label class="item">代购国家<span class="item-value">{{item.country}}</span></label>
	  <label class="item">预想总价<span class="item-value">{{item.expectedPrice}}元（人民币）</span></label>
	  <label class="item">代购件数<span class="item-value">{{item.amount}}</span></label>
	  <label class="item">邮寄方式<span class="item-value">邮寄方式</span></label>
	  <label class="item">发布者<span class="item-value">发布者</span></label>
	  <label class="item">截止日期<span class="item-value">2014-09-30</span></label>
	  <label class="item">收件地址<span class="item-value item-lang-value">中国 上海 上海市						
虹口区龙之梦7楼703室						
(200123)						
人艰不拆 13812345678						
</span></label>
</div>