<ion-view title="Account">
  <ion-content class="has-header">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  
  <a class="item item-icon-left" href="#/tab/accounts/setting">
    <i class="icon ion-mic-a"></i>
    设置
  </a>

  <a class="item item-icon-left" href="#/tab/accounts/account">
    <i class="icon ion-mic-a"></i>
    我的账本
  </a>

  <a class="item item-icon-left" href="#/tab/accounts/myorders">
    <i class="icon ion-person-stalker"></i>
   我的订单
  </a>
  
  <a class="item item-icon-left" href="#/tab/accounts/about">
    <i class="icon ion-person-stalker"></i>
   关于我们
  </a>
  
  <a class="item item-icon-left" href="#/tab/accounts/exchangerate">
    <i class="icon ion-person-stalker"></i>
   今日汇率
  </a>
  
  <a class="item item-icon-left" href="#/tab/accounts/legal">
    <i class="icon ion-person-stalker"></i>
   服务条款
  </a>
    </div>
    </ion-content>
</ion-view>
