<ion-view title="订单">
  <ion-content class="has-header">
  <div class="list">
 
  <a class="item item-icon-left" href="#/tab/orders-sendout">
    <i class="icon ion-mic-a"></i>
    已发布的订单
  </a>

  <a class="item item-icon-left" href="#/tab/orders-forMe">
    <i class="icon ion-mic-a"></i>
    我的预购订单
  </a>
  <a class="item item-icon-left" href="#/tab/orders-completed">
    <i class="icon ion-mic-a"></i>
    已完成的订单
  </a>
  <a class="item item-icon-left" href="#/tab/orders-fromMe">
    <i class="icon ion-mic-a"></i>
    我的代购订单
  </a>
  </div>
  </ion-content>
</ion-view>
