<ion-view title="订单">
  <ion-content class="has-header">
  <div class="list">
 
  <a class="item item-icon-right" href="#/tab/orders-sendout">
    已发布的订单
   <i class="icon ion-ios7-arrow-forward"></i>
  </a>

  <a class="item item-icon-right" href="#/tab/orders-forMe">
    我的预购订单
   <i class="icon ion-ios7-arrow-forward"></i>
  </a>
  <a class="item item-icon-right" href="#/tab/orders-completed">
    已完成的订单
   <i class="icon ion-ios7-arrow-forward"></i>
  </a>
  <a class="item item-icon-right" href="#/tab/orders-fromMe">
    我的代购订单
   <i class="icon ion-ios7-arrow-forward"></i>
  </a>
  </div>
  </ion-content>
</ion-view>
