body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:156px;
  top:552px;
  width:104px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
