body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:64px;
  top:120px;
  width:322px;
  height:23px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:64px;
  top:179px;
  width:323px;
  height:421px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:421px;
}
#u6 {
  position:absolute;
  left:2px;
  top:202px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:65px;
  top:179px;
  width:322px;
  height:250px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:250px;
}
#u8 {
  position:absolute;
  left:2px;
  top:117px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:65px;
  top:213px;
  width:319px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u10 {
  position:absolute;
  left:65px;
  top:194px;
  width:94px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:214px;
  top:197px;
  width:173px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:247px;
  width:319px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u15 {
  position:absolute;
  left:65px;
  top:230px;
  width:34px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:149px;
  top:230px;
  width:34px;
  height:22px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:224px;
  top:230px;
  width:57px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:332px;
  top:230px;
  width:47px;
  height:22px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:65px;
  top:284px;
  width:319px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u24 {
  position:absolute;
  left:65px;
  top:267px;
  width:64px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:149px;
  top:267px;
  width:40px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:224px;
  top:267px;
  width:57px;
  height:22px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:332px;
  top:267px;
  width:47px;
  height:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:65px;
  top:321px;
  width:319px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u33 {
  position:absolute;
  left:65px;
  top:304px;
  width:60px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:224px;
  top:304px;
  width:57px;
  height:22px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:332px;
  top:304px;
  width:47px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:65px;
  top:363px;
  width:319px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u40 {
  position:absolute;
  left:65px;
  top:346px;
  width:59px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:224px;
  top:346px;
  width:57px;
  height:22px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:332px;
  top:346px;
  width:47px;
  height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:65px;
  top:404px;
  width:319px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u47 {
  position:absolute;
  left:65px;
  top:387px;
  width:59px;
  height:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:224px;
  top:387px;
  width:57px;
  height:22px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:332px;
  top:387px;
  width:47px;
  height:22px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:149px;
  top:309px;
  width:40px;
  height:22px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:149px;
  top:341px;
  width:40px;
  height:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:149px;
  top:387px;
  width:40px;
  height:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:109px;
  top:457px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:66px;
  top:146px;
  width:320px;
  height:33px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:104px;
  top:150px;
  width:30px;
  height:24px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:73px;
  top:149px;
  width:24px;
  height:24px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
