body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:64px;
  top:120px;
  width:322px;
  height:23px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:179px;
  width:321px;
  height:395px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:395px;
}
#u6 {
  position:absolute;
  left:2px;
  top:190px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:66px;
  top:188px;
  width:115px;
  height:134px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:134px;
}
#u8 {
  position:absolute;
  left:2px;
  top:59px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:182px;
  top:185px;
  width:203px;
  height:137px;
  font-size:14px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:137px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:65px;
  top:328px;
  width:320px;
  height:128px;
  font-size:14px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:65px;
  top:456px;
  width:320px;
  height:140px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1px;
  top:0px;
  width:320px;
  height:69px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:69px;
  width:320px;
  height:69px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:146px;
  width:320px;
  height:33px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:104px;
  top:150px;
  width:30px;
  height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:73px;
  top:149px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
