body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:120px;
  width:322px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:335px;
  top:123px;
  width:24px;
  height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:311px;
  top:122px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:289px;
  top:122px;
  width:24px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:359px;
  top:123px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:66px;
  top:147px;
  width:322px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:148px;
  width:33px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:93px;
  top:152px;
  width:28px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:187px;
  width:322px;
  height:416px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:416px;
}
#u20 {
  position:absolute;
  left:2px;
  top:200px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:156px;
  top:193px;
  width:115px;
  height:115px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u22 {
  position:absolute;
  left:2px;
  top:50px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:139px;
  top:309px;
  width:158px;
  height:21px;
  font-size:14px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:66px;
  top:335px;
  width:320px;
  height:198px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:198px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:161px;
  top:543px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
