body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:64px;
  top:120px;
  width:322px;
  height:23px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:63px;
  top:179px;
  width:323px;
  height:421px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:421px;
}
#u6 {
  position:absolute;
  left:2px;
  top:202px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:105px;
  top:387px;
  width:229px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:225px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:105px;
  top:197px;
  width:229px;
  height:120px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:120px;
}
#u10 {
  position:absolute;
  left:2px;
  top:52px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:113px;
  top:212px;
  width:200px;
  height:30px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u11_input {
  font-family:'Applied Font';
}
#u12 {
  position:absolute;
  left:113px;
  top:263px;
  width:200px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u12_input {
  font-family:'Applied Font';
}
#u13 {
  position:absolute;
  left:105px;
  top:327px;
  width:229px;
  height:50px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:225px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:278px;
  top:344px;
  width:40px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:66px;
  top:146px;
  width:320px;
  height:33px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:104px;
  top:150px;
  width:30px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:73px;
  top:149px;
  width:24px;
  height:24px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
