body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:120px;
  width:322px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:335px;
  top:123px;
  width:24px;
  height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:311px;
  top:122px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:289px;
  top:122px;
  width:24px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:359px;
  top:123px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:67px;
  top:147px;
  width:322px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:61px;
  top:148px;
  width:33px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:94px;
  top:152px;
  width:28px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:67px;
  top:187px;
  width:321px;
  height:416px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:416px;
}
#u20 {
  position:absolute;
  left:2px;
  top:200px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:68px;
  top:199px;
  width:115px;
  height:134px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:134px;
}
#u22 {
  position:absolute;
  left:2px;
  top:59px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:162px;
  top:560px;
  width:110px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:184px;
  top:196px;
  width:203px;
  height:137px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:137px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:67px;
  top:341px;
  width:320px;
  height:192px;
  font-size:14px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:192px;
}
#u28 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  word-wrap:break-word;
}
