body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:64px;
  top:120px;
  width:322px;
  height:23px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:179px;
  width:321px;
  height:418px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:418px;
}
#u6 {
  position:absolute;
  left:2px;
  top:201px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:110px;
  top:197px;
  width:78px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:201px;
  top:215px;
  width:70px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:66px;
  top:278px;
  width:322px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:49px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:66px;
  top:327px;
  width:320px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:66px;
  top:327px;
  width:320px;
  height:270px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u17 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:11px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:2px;
  top:40px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:69px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:2px;
  top:98px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:127px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:2px;
  top:156px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:185px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:2px;
  top:214px;
  width:320px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:66px;
  top:146px;
  width:320px;
  height:33px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:104px;
  top:150px;
  width:30px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:73px;
  top:149px;
  width:24px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
