body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:64px;
  top:120px;
  width:322px;
  height:23px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:64px;
  top:147px;
  width:322px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:58px;
  top:148px;
  width:33px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:91px;
  top:152px;
  width:28px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:185px;
  top:155px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
