body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u2 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:120px;
  width:322px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:335px;
  top:123px;
  width:24px;
  height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:311px;
  top:122px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:289px;
  top:122px;
  width:24px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:359px;
  top:123px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:67px;
  top:146px;
  width:322px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:61px;
  top:147px;
  width:33px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:94px;
  top:151px;
  width:28px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:186px;
  width:323px;
  height:410px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:410px;
}
#u20 {
  position:absolute;
  left:2px;
  top:197px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:188px;
  top:154px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:65px;
  top:186px;
  width:324px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:65px;
  top:235px;
  width:324px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:65px;
  top:284px;
  width:324px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:344px;
  top:149px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:65px;
  top:333px;
  width:324px;
  height:49px;
  font-size:18px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
