/* Empty. Add your own CSS if you like */

table tr th{
	text-align: left;
	font-size: 60%;
	width: 4em;
}

.button .badge {
  position: absolute;
  top: -3px; 
  left:-3px;
  }
  
  .bar{
  color: #f0b840;
  }
  
  .tab-item-active{
  	color: red;
  }
  .item{
  	font-size: 10px;
  }

.bar-subheader .tabs{
	line-height: 33px;
	padding-top: 17px;	
}

.bar-subheader .tabs .tab-item.tab-item-active{
  	border-bottom: solid 1px red;
 }

 .bar-subheader{
 	padding: 0px;
 }
 .bar-subheader .tabs{
 	background: none;
 }
 